<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [2]:
# Write your code here
my_list = [15, 78, 10, 45, 89]
def swap(lst):
    temp=lst[0]
    lst[0]=lst[-1]
    lst[-1]=temp
    print(lst)
swap(my_list)

[89, 78, 10, 45, 15]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function which adds two global numeric variables (1204 and 344536)<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# Write your code here

a=1204
b=344536
def add():
    return a+b
add()

345740

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [31]:
# Write your code here
def odd(num):
    if num%2==0:
        print("even")
    else:
        print("odd")

odd(33)

odd

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [33]:
def fact(n):
    if (n==0 or n==1):
        return 1
    else:
        return n*fact(n-1)
num=int(input("enter a num "))
fact(num)

enter a num 5

120

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to add new items(1,2,3) in the empty list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [38]:
# Write your code here
def add_items(lst):
    lst_1=[]
    for i in lst:
        lst_1.append(i)
    return (lst_1)
new_lst=[1,2,3]
add_items(new_lst)

[1, 2, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6.  Write a python function to test whether the two words start with the same character or not (take the inputs from the user)<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [39]:
# Write your code here
def test(str1,str2):
    if str1[0]==str2[0]:
        print(" two words start with the same character")
    else:
        print(" two words do notstart with the same character")
a=input("enter a string ")
b=input("enter other string ")
test(a,b)

enter a string abc
enter other string and
 two words start with the same character

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [42]:
# Write your code here
def check_vowels(str1):
    vow=['a','e','i','o','u']
    str1=str1.lower()
    for i in str1:
        if i in vow:
            print("contains vowel")
            break
string=input("enter a string ")
check_vowels(string)

enter a string nbnbe
contains vowel

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [11]:

# Write your code here
def uni(lst):
    nw_lst=[]
    for i in lst:
        if i not in nw_lst:
            nw_lst.append(i)
    print(nw_lst)
        
my_list = [1,2,3,3,11,34,3,3,4,5]
uni(my_list)

[1, 2, 3, 11, 34, 4, 5]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**<br>
string1 = 'Angel'<br>
string2 = 'apple'

In [12]:
# Write your code here
string1 = 'Angel'
string2 = 'apple'
stlst=[]
for i in string1:
    if i in string2:
        stlst.append(i)
print(stlst)

['e', 'l']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Define a function to perform addition, multiplication, and subtraction of the given two numbers<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the number given below:**<br>
a = 15<br>
b = 4

In [45]:
# Write your code here
def add(x,y):
    return x+y
def multiply(x,y):
    return x*y
def sub(x,y):
    return abs(x-y)
add(15,4)

19

In [48]:
multiply(15,4)

60

In [47]:
sub(15,4)

11

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [112]:
def summ(num):

    sum= 0

    for i in num:

         sum+= i

    return sum

list_1=[1,2,3,4]
summ(list_1)

10

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [62]:
# Write your code here
def summ(num):
    sum= 0

    for i in num:

         sum+= i

    return sum

my_list = [34, 34, 55, 2, 56, 45]
summ(my_list)

226

<a id='Lambda_Functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [71]:
# Write your code here

get_min = lambda a, b : a if a < b else b
  
print(get_min(34, 78))

34

<a id='Map_Function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [74]:
# Write your code here
def square_num(n):
    return n * n
number = (11, 21, 30, 34)
tu=tuple(map(square_num,number))
print(tu)

(121, 441, 900, 1156)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [15]:
s = "Python for Data Science"
list(map(len, s.split()))

[6, 3, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [93]:
# Write your code here
def rem(n):
    remainder=n%5
    return remainder
numbers = ( 74, 85, 14, 23)
tuple(map(rem,numbers))

(4, 0, 4, 3)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [14]:
# Write your code here
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]
res = list(map(lambda i,j: i + j , list1,str(list2)))
res

['I[',
 'felt1',
 'happy1',
 'because,',
 'I ',
 'saw2',
 'the2',
 'others,',
 'were ',
 'happy3']

<a id='Filter_Function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [3]:
# Write your code here
def interSection(arr1,arr2):
 
    result = list(filter(lambda x: x in arr1, arr2))
    return result
 
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t'] 
interSection(arr1,arr2)

['o', 'i', 't']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [10]:
# Write your code here
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]
result = list(filter(lambda x: x % 2 == 0, numbers))
result

[110, 352, 278]

<a id='Reduce_Function'></a>
### 2.4 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Calculate the sum of the numbers from 1 to 100<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
# Write your code here
import functools
ans = functools.reduce(lambda x, y: x + y, range(1,101))
print(ans)

5050

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [10]:
# Write your code here
my_list = [47,11,42,102,13]
res=functools.reduce(max,my_list)
res

102

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. A 5 star hotel is maintaining its order history in the dictionary in the given format. Find out which food item is ordered the least

order_id: [list of items ordered]

order_history= {161:['Noodles','Tomato Soup','Fries'],162:['Rice Idli','Rawa Dosa','Fries'],163:['Fries','Noodles'],164:['Rice', 'Idli','Rawa Dosa','Fries','Noodles']}..<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
order_history= {161:['Noodles','Tomato Soup','Fries'],162:['Rice Idli','Rawa Dosa','Fries'],163:['Fries','Noodles'],164:['Rice','Idli','Rawa Dosa','Fries','Noodles']}
v1 = list(order_history.values())
a = [j for i in v1 for j in i]
def minimum(x):
    return min(a,key = a.count)
minimum(a)

'Tomato Soup'