<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
for i in range(1,11):  # LOOP FROM 1 TO 10
    print(5*i)         # MULTIPLY BY 5

5
10
15
20
25
30
35
40
45
50

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [44]:
n = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if n <= 0:
   print("Please enter a positive integer")
elif n == 1:
   print("Fibonacci sequence upto",n,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < n:
       print(n1)             # TO PRINT THE SEQUENCE
       nth = n1 + n2         # ASSSIGN THE SUM OF LAST TWO NUM IN SEQUENCE
       n1 = n2
       n2 = nth
       count += 1             # TO INCREMENT THE COUNT TILL N

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [45]:
n=int(input('enter a num'))
if n%7 == 0:              # MODULUS WITH 7
    print("divisible")
else:
    print("not divisible")

enter a num42
divisible

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [62]:
n=int(input("num"))
res=1
if n<0:
    print("invalid")
else:
    while n > 0:       # LOOP UNTIL N I POSITIVE
      res=res*n        # MULTIPLY WITH N 
      n=n-1            # DECREMENT TILL 0
print(res)

num6
720

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [47]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**(1/2)) + 1):  # TO CHECK IF ITS PRIME RUN UNTIL SQ ROOT OF N
        if n % i == 0:
            return False
    return True
num=int(input('enter a num'))
print(is_prime(num))

enter a num37
True

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a pseudo code to know whether a number is greater than the other using 'if' statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [65]:
a=int(input("enter a num "))
b=int(input("enter a second num "))
if a>b :
  print("a is greater")        # COMPARING THE TWO VARIABLE
else:
    print("b is greater")

enter a num 5
enter a second num 5
b is greater

<a id="string"></a>
## 2. String Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a string with the name 'country' and 'India' as its element. Perform the following on it:
                    <ol type = "1">
                        <li>Find its length. </li>
                        <li>Extract it first two letters. </li>
                        </ol></b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [48]:
country="india"
len(country)     # FIND LENGHT OF COUNTRY

5

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Given the string 'Today is a sunny day.' 
                        <ol > <li>  Write a code to get 'Today'  and 'sunny'. </li>
                             <li>  Obtain the last two letters. </li>
                             <li>  Write the statement backwards.</li>
                        </ol> </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [169]:
string="Today is a sunny day"
l1=string.split()     
print(l1[0::3])
print(l1[-1][1:])     # last two letter of sentence 
l1[: : -1]           # reverse the sentence

['Today', 'sunny']
ay

['day', 'sunny', 'a', 'is', 'Today']

<a id="list"> </a>
## 3. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br> 
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [3]:
mix_list_1= ['Learn',24,'Blue',False, -8]

len(mix_list_1)     # lenght of list

5

**b. Check the membership of '24' in mix_list_1**

In [4]:
mix_list_1.index(24)   # inex of 24

1

**c. Concatenate the mix_list_1 and mix_list_2**

In [5]:
mix_list_2=[4, 7, 'Summer']
mix_list_1+ mix_list_2        #adding list

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

**d. Repeat the mix_list_2 three times**

In [68]:
mix_list_2 *3            #repeat list

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write the program to multiply the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [69]:
num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]
list3=[]
for i in range(len(num_list_1)):
    list3.append(num_list_1[i]*num_list_2[i])   # multiply the list
print(list3)

[0, 10, 6, 4]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [170]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True]
mix_list[0]

'Python'

**b. Second last element**

In [171]:
# type your code here
mix_list[-2]

'Data'

**c. First three elements**

In [172]:
# type your code here
mix_list[:3]

['Python', 1, 2]

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [173]:
# type your code here
mix_list[::2]

['Python', 2, 'Data']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12.. Write a program to perform following built-in list operations:<br><br>
                        a. Min(list)<br>
                        b. Max(list)<br>
                        c. Sort the elements (use sort() and sorted() function)<br>
                        d. Create a copy of a list<br>
                        e. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [174]:
# type your code here
num_list = [4, 5, 7, -2, 0, 1]
min(num_list)        # min of list

-2

**b. Max(list)**

In [175]:
# type your code here
max(num_list)         #max of list

7

**c. Sort the elements (use sort() and sorted() function)**

In [188]:
# type your code here
num_list.sort()
num_list
sorted(num_list, reverse=True)     #sorting and reversing

[7, 5, 4, 1, 0, -2]

**d. Create a copy of a list**

In [198]:
# type your code help
num_list = [4, 5, 7, -2, 0, 1]
list2=num_list.copy()     #copying lsit
list2

[4, 5, 7, -2, 0, 1]

**e. Remove element '5' from the list**

In [200]:
# type your code here
list2.remove(5)     #remove 5
list2

[4, 7, -2, 0, 1]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13.. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [211]:
languages_list = ['R', 'Python', 'C', 'Java']
languages_list.append('data')
languages_list

['R', 'Python', 'C', 'Java', 'data']

**b. Add elements 'Excel' and 'Data' in the given list**

In [212]:
# type your code here
languages_list.extend(['Excel','Data'])
languages_list

['R', 'Python', 'C', 'Java', 'data', 'Excel', 'Data']


**c. Replace an element 'C' with 'C++' in the given list**

In [213]:
# type your code here
languages_list.remove('C')
languages_list

['R', 'Python', 'Java', 'data', 'Excel', 'Data']

In [214]:
languages_list.insert(2,'C++')
languages_list

['R', 'Python', 'C++', 'Java', 'data', 'Excel', 'Data']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14.. How many times 'Summer' is occuring in a given list?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

####Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [109]:
# type your code here
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']
seasons_list.count('Summer')

4

<a id="tuple"> </a>
## 4. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15.. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>
                        c. Repeat the mix_tuple two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [111]:
# type your code here
num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2
len(num_tuple)

3

**b. Concatenate the num_tuple and mix_tuple**

In [112]:
num_tuple+mix_tuple     # aiddng tuple

(4, 4, 8, 'John', 5, -2)

**c. Repeat the mix_tuple two times**

In [113]:
# type your code here
mix_tuple *2    # repeating tuple 2 times

('John', 5, -2, 'John', 5, -2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [116]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)
tup=(4,)
mix_tuple+tup    #addind 4 in tuple

(['a', 1, True], 2, 'Science', -5, 4)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Replace the elements in the given tuple: <br><br>
                        a. Replace '2' with '3'<br>
                        b. Replace 'True' in first element with 'False'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [118]:
# type your code here
listtup=list(mix_tuple)
listtup
listtup[1]=3
mix_tuple_1=tuple(listtup)
mix_tuple_1

(['a', 1, True], 3, 'Science', -5)

**b. Replace 'True' in first element of the tuple with 'False'**

In [120]:
# type your code here
listtup=list(mix_tuple)
listtup
listtup[0][2]= False
mix_tuple_1=tuple(listtup)
mix_tuple_1

(['a', 1, False], 2, 'Science', -5)

<a id="set"> </a>
## 5. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [124]:
# type your code here
num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)
num_set

{1, 2, 3, 4, 5, 6, 7}

**b. Remove '3' from a given set**

In [126]:
# type your code here
num_set_5 = {1, 2, 4, 5, 6}
num_set.intersection(num_set_5)

{1, 2, 4, 5, 6}

**c. Clear the set**

In [129]:
# type your code here
num_set.clear()
num_set

set()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

In [227]:
# type your code here
sentence_1 = 'We shall analyse the data using python'
sentence_1=sentence_1.lower()          # making everything to lowercase

sentence_2 = 'Python for data science'
sentence_2=sentence_2.lower()

set1=set(sentence_1.split())
set1

{'analyse', 'data', 'python', 'shall', 'the', 'using', 'we'}

**a. Find the number of unique words in the sentences**

In [134]:
# type your code here
len(sen_1)

7

**b. Find the common words in both the sentences**

In [229]:
# type your code here
set2=set(sentence_2.split())
print(set2)
set1.intersection(set2)

{'for', 'data', 'python', 'science'}

{'data', 'python'}

**c. Find the unique words in both the sentences**

In [230]:
# type your code here

set1.union(set2)

{'analyse', 'data', 'for', 'python', 'science', 'shall', 'the', 'using', 'we'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20.. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [135]:
# type your code here
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 40, 42, 51, 54, 71, 87}

**b. Intersection**

In [136]:
# type your code here
B.intersection(A)

{3, 5, 6, 7}

**c. Set of all the elements of set A that are not in set B**

In [139]:
# type your code here
A.difference(B)

{1, 2, 4, 40, 71, 87}

**d. Set of all the elements of set B that are not in set A**

In [140]:
# type your code here
B.difference(A)

{8, 42, 51, 54}

**e. Symmetric difference**

In [231]:
# type your code here
A.symmetric_difference(B)

{1, 2, 4, 8, 40, 42, 51, 54, 71, 87}

<a id="dict"> </a>
## 6. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Write a code to add a key to a dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the given dictionary and add a key (4:16)**

square_dictionary = {1:1, 2:4, 3:9}

In [144]:
# type your code here
square_dictionary = {1:1, 2:4, 3:9}
square_dictionary.update({4:16})
square_dictionary

{1: 1, 2: 4, 3: 9, 4: 16}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Write a program to retrieve the keys/values of dictionary </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

mix_dictionary = {0:3, 'x':5, 1:2}

In [161]:
# type your code here
mix_dictionary = {0:3, 'x':5, 1:2}
mix_dictionary.keys()

dict_keys([0, 'x', 1])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Write a program to get the value for 'Age' from the dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [148]:
# type your code here
emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
emp_record['Age']

27

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>24. Write a program to create a dictionary using given keys and values</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the keys and values to create a dictionary**

key = ['a','b','c','d']

value = [1, 2, 3, 4]

In [158]:
# type your code here
key = ['a','b','c','d']

value = [1, 2, 3, 4]
dic= dict(zip(key,value))
dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>25.. Set the country of an employee as 'India' in the given employee record</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [234]:
# type your code here
emp_record.update({'Country':'India'})
emp_record

{'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA', 'Country': 'India'}

<a id="cond"> </a>
## 7. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>26.. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [235]:
n=int(input('enter a num'))
if n%7==0:
    print('multile of 7')
else:
    print('not a multiple')

enter a num14
multile of 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>27. Write a code to print the maximum of two numbers (use if-else)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
a=int(input('enter first num '))
b=int(input('enter second num '))
if a>b:
    print('first is greater')
else:
    print('second is greater')

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>28. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
n=int(input('enter a num'))
if n==0:
    print('zero')
elif n<0:
    print('negative')
else:
    print('positive')